*, *::before, *::after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}

body {
  font-size: inherit;
  line-height: 1.5;
  width: 100%;
  margin: 0 auto;
  background-color: #dae0e6;
}

button {
  border: none;
  padding: 10px 40px;
  border-radius: 4px;
  background-color: #3cabae;
  color: #ffffff;
  cursor: pointer;
}

input {
  padding: 8px 12px;
  border: 8px solid #FFFFFF;
  font-size: 20px;
  letter-spacing: 2px;
}

button:hover {
  opacity: 0.5;
  transition: 0.1s ease all;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0 auto 5rem;
  max-width: 900px;
  min-height: calc(100vh - 48px)
}

h2 {
  margin: .4rem auto;
  color: #444;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}


.form-child {
  margin: .5rem 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

form input {
  background-color: #f6f7f8;
  border: none;
  margin: 0 1rem;
}

form input:focus {
  background-color: #ffffff;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

li {
  display: flex;
  padding: 0 .5rem;
  margin: 1rem;
  align-items: center;
  font-size: .9rem;
  border: 1px solid #fff;
  border-radius: 4px;
}

li div {
  padding: .5rem;
  margin: .5rem auto;
}

.bar-container {
  width: 20rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

@media screen and (max-width: 600px) {

  li {
    flex-direction: column;
    padding: .5rem;
  }

  li div {
    margin: 0 auto;
  }
}